// colores de fuentes


// fondos para secciones
$dark-bg: #101010;
$dark-md: #202020;




// colores para textos
$blue: #145ad2;
$clr-blue: #1e36a4;
$clr-dark-gray: #24262a;
$clr-dark-text: #000;
$clr-mid-gray: #454558;
$clr-mid-light-gray: #838383;
$clr-warning: #df3433;
$clr-light-gray: #f2f2f2;

$clr-gray: #666;
$clr-gray-title: #24262a;