
body {
    scroll-behavior: smooth;
}

.btn-outline {
    padding: .75rem 1.75rem;
    display: inline-flex;
    background-color: transparent;
    border: $border-size-2 solid $blue;
    border-radius: $border-radius-3;
    color: #f2f3f4;
    transition: all .2s ease-in-out;
    &:hover {
        cursor: pointer;
        background-color: $blue;
    }
}

.btn {
    padding: .75rem 1.75rem;
    background-color: rgb(20, 90, 210);
    font-size: 1rem;
    text-align: center;
    display: inline-block;
    margin-inline-end: $size-1;
    margin-block-end: $size-1;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: all .6s ease-in-out;

    &:focus {
        outline-offset: .5rem;
    }

}

.btn--gray {
    background-color: #202020;
}

.btn--fill {
    background-color: rgb(20, 90, 210);
    color: #f2f2f2;
    font-size: 1rem;
    position: relative;
    overflow: hidden;
    z-index: 1;

    &:before {
        content: '';
        position: absolute;
        background-color: rgb(30, 108, 242);
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        // border-radius: .5rem;
        z-index: -1;
        transform: translateX(-100%);
        transform-origin: left;
        transition: transform .2s ease-in-out;


    }

    &:hover::before {
        transform: translateX(0);
    }


}

.cta {
    margin-inline-end: 1rem;
}

.card {
    border-radius: .25rem;
    padding-bottom: 1.5rem;
}

.card-title {
    margin-block-end: 1rem;
}

.separador {
    width: 90%;
    height: 2px;
    background-color: #2020204c;
    margin: auto;
}

.logo-menu {
    width: 8rem;
}

.flex {
    display: flex;
}
.icon-check-hero {
    width: 1rem;
    height: 1rem;
}

.t-center {
    text-align: center;
} 

.mb {
    margin-block-end: 1rem;
}
.mb-2 {
    margin-block-end: 2rem;
}
.ml-1 {
    margin-inline-start: 1rem;
}
.ml-2 {
    margin-inline-start: 2rem;
}
.ml-3 {
    margin-inline-start: 3rem;
}
.ml-4 {
    margin-inline-start: 4rem;
}