@mixin container {
    width: 90%;
    max-width: 1400px;
    margin-inline: auto;
}

@mixin intro-container {
    width: 90%;
    max-width: 1400px;
    margin-inline: auto;
    margin-top: 1.1rem;
    min-height: 85vh;
    padding: 2rem;
    color: #f2f3f4;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
    place-content: center;
    border-radius: 1rem;
}