$size-1: 1rem;
$size-2: 2rem;
$size-3: 3rem;
$size-4: 4rem;
$size-5: 5rem;
$size-6: 6rem;

$border-size-1: 1px;
$border-size-2: 2px;
$border-size-3: 3px;
$border-size-4: 4px;
$border-size-5: 5px;

$border-radius-1: 1px;
$border-radius-3: 3px;
$border-radius-5: 5px;
$border-radius-7: 7px;
$border-radius-9: 9px;
$border-radius-11: 11px;