@import 'base';
@import 'hero';
@import 'navegador';
@import 'language';
@import 'index';
@import 'banner';
@import 'productos';
@import 'modulos';
@import 'plataforma';
@import 'automatizacion';
@import 'regulacion';
@import 'nosotros';
@import 'contacto';
@import '404';
@import 'footer';
@import 'landing';