#main-automatizacion {


    .automatizacion-intro {  
        @include intro-container;
        background-image: linear-gradient(to top, #20202080, #33a2f27e), url(../images/quanto-automatizacion-plataforma.jpg);
        background-position: center;
        background-size: cover;

        .automatizacion-intro__container {
            text-align: center;

            .section-title {
                color: #f2f3f4;
                font-weight: 600;
                font-size: 3rem;
                line-height: 1.1;
                margin-inline-start: auto;
                margin-inline-end: auto;
                font-size: clamp(2rem, 4vh, 4rem);
            }
            .p-large {
                color: $clr-light-gray;
            }

            .btn {
                margin: 1rem 0;
                padding: .5rem 1.5rem;
            }
        }
    }
        
    @media (min-width: $tablet) {
        .automatizacion-intro {
            margin-top: 2rem;
            min-height: 50vh;

            .automatizacion-intro__container {
                width: 70%;
                margin-inline-start: auto;
                margin-inline-end: auto;

                .section-title {
                    font-size: clamp(2rem, 4vw, 5rem);
                }
            }
        }
    }

    @media (min-width: $laptop) {

        .automatizacion-intro {
            

            .automatizacion-intro__container {
                color: #f2f3f4;
                text-align: center;
                width: 60%;
                margin: auto;

                .title {
                    color: #f2f3f4;
                    font-size: clamp(2rem, 4vw, 5rem);
                }

                .p-large {
                    font-size: 1.4rem;
                }
            }

            .btn {
                display: none;
            }
        }
    }


    #notificaciones {
        padding-top: 5rem;
        padding-bottom: 5rem;

        .info {
            @include container;
            text-align: center;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            
            .notificacion-img {
                padding: 2rem;
                
            }
        }

        @media only screen and (min-width: $tablet) {

            .info {
                @include container;
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 2rem;
                .info-container {
                    width: 45%;
                    text-align: left;
                }
                .notificacion-img {
                    width: 45%;
                    padding: 2rem;
                }
            }
        }
    }

    #trabajo {
        // padding-top: 3rem;
        padding-bottom: 5rem;

        .info {
            @include container;
            text-align: center;
            display: flex;
            flex-direction: column;
            gap: 2rem;

            .notificacion-img {
                padding: 2rem;
            }
        }

        @media only screen and (min-width: $tablet) {

            .info {
                @include container;
                display: flex;
                align-items: center;
                gap: 2rem;
                .trabajo-container {
                    width: 70%;
                    text-align: center;
                }
                .trabajo-img {
                    width: 45%;
                    // padding: 2rem;
                }
            }
        }
    }

    #personalizacion {
        // padding-top: 3rem;
        padding-bottom: 5rem;

        .info {
            @include container;
            text-align: center;
            display: flex;
            flex-direction: column;
            gap: 2rem;

            .personalizacion-img {
                padding: 2rem;
            }
        }

        @media only screen and (min-width: $tablet) {

            .info {
                @include container;
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 2rem;
                .personalizacion-container {
                    width: 45%;
                    text-align: center;
                    order: 2;
                }
                .personalizacion-img {
                    width: 45%;
                    order: 1;
                    padding: 2rem;
                }
            }
        }
    }
   

}