#main-automatizacion {


    .automatizacion-intro {  
        @include intro-container;
        background-image: linear-gradient(to top, #20202080, #33a2f27e), url(../images/plataforma_servidores_quanto_intro.jpg);
            background-position: center;
            background-size: cover;
    
            .automatizacion-intro__container {
                text-align: center;
    
                .section-title {
                    color: #f2f3f4;
                    font-weight: 600;
                    font-size: 3rem;
                    line-height: 1.1;
                    margin-inline-start: auto;
                    margin-inline-end: auto;
                }
                .p-large {
                    color: $clr-light-gray;
                }
    
                .btn {
                    margin: 1rem 0;
                    padding: .5rem 1.5rem;
                }
            }
        }
        
        @media (min-width: $tablet) {
            .automatizacion-intro {
                margin-top: 2rem;
                min-height: 50vh;
    
                .automatizacion-intro__container {
                    width: 70%;
                    margin-inline-start: auto;
                    margin-inline-end: auto;
    
                    .section-title {
                        font-size: clamp(2rem, 4vw, 5rem);
                    }
                }
            }
        }
    
        @media (min-width: $laptop) {
    
            .automatizacion-intro {
                
    
                .automatizacion-intro__container {
                    color: #f2f3f4;
                    text-align: center;
                    width: 60%;
                    margin: auto;
    
                    .title {
                        color: #f2f3f4;
                        font-size: clamp(2rem, 4vw, 5rem);
                    }
    
                    .p-large {
                        font-size: 1.4rem;
                    }
                }
    
                .btn {
                    display: none;
                }
            }
         
        
    }
}