.banner {
    .big-title {
        font-weight: 700;
        width: 70%;
        margin-inline-start: auto;
        margin-inline-end: auto;
        margin-block-end: 1rem;
    }

    .subtitle {
        width: 70%;
    }
}