html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Reset margins and paddings on most elements */

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
pre,
blockquote,
figure,
hr {
  margin: 0;
  padding: 0;
}

/* Removes discs from ul */
ul {
  list-style: none;
}

/* Arregla la tipografía para formularios y botones ya que el navegador lo configura así, --font to 400 11px system-ui.--  */
input,
textarea,
select,
button {
  color: inherit;
  font: inherit;
  letter-spacing: inherit;
}


img {
  height: 100%;
  height: auto;
}

* a {
  text-decoration: none;
  display: block;

}