#main-index {

    
    .hero {
        background-image: linear-gradient(to bottom, #f2f2f225 40%, #5681e675 60%), url(../images/quanto-productos-imagen-mujer-sonriendo-trabajando-con-su-computadora.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        margin-block-end: $size-2;
        background-position: 65% top;
        min-height: 90vh;
        display: grid;
        

        .hero-container {
            @include container;
            place-self: flex-end;

            .hero-info {
                color: #f2f3f4;
                margin-block-end: 3rem;
                background-color: #2020209a;
                backdrop-filter:blur(.5rem);
                padding: 2rem 1rem;
                text-align: center;
                border-radius: $size-2;
                .hero-title {
                    font-size: 2.5rem;
                    display: block;
                    line-height: 1.1;
                    width: 11ch; 
                    margin: auto;
                    margin-block-end: $size-1;

                    .texto-dinamico {
                        background: -webkit-linear-gradient(180deg, #00a99d, #0747a6);
                        background-clip: text;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                    
                }
                .hero-content {
                    color: whitesmoke;
                    margin: auto;
                    margin-block-end: $size-1;
                    
                }
            }
            
        }
    }
    @media (min-width: $tablet) {
        .hero {
            // margin-block-start: 2rem;
            min-height: 80vh;

            .hero-container {
                height: 100%;
                place-self: center;
                display: grid;
                
                .hero-info {
                    margin-block: auto;
                }
                .hero-title {
                    width: 15ch;
                    margin: 0;
                    font-size: clamp(2rem, 4vw, 5rem);
                    padding-inline: 2rem;
                }

                

            }
        }
    }

    @media (min-width: $laptop) {

        .hero {
            background-image: linear-gradient(to left, #f2f2f225 40%, #5681e675 60%), url(../images/quanto-productos-imagen-mujer-sonriendo-trabajando-con-su-computadora.jpg);
            min-height: 70vh;
            // margin-top: 2rem;
            background-position: 65% top;
            .hero-container {
                @include container;
                display: grid;
                grid-template-columns: 1fr 1fr;
                height: 100%;

                .hero-info {
                    margin-block: auto;
                    width: 100%;
                    .hero-title {
                        font-size: $section-title;
                    }
                    .hero-content {
                        width: 50ch;
                        font-size: 1.125rem;
                    }
                }
                
            }
            
        }
    }

}

