.languages {
    // outline: 1px solid red;
    display: flex;
    // align-items: center;
    // margin-inline: .5rem;
}
.en {
    margin-inline: .5rem;
    color: #f2f2f2;
}
.es {
    margin-inline: .5rem;
    color: #00a1ff;
}
.check {
    -webkit-appearance: none;
    position: relative;
    width: 3rem;
    outline: none;
    margin-block-end: 1.1rem;
    transition:all .9s;
    
}

.check:before {
    content: '';
    position: absolute;
    width: 3rem;
    height: 1.5rem;
    background-color: #333;
    border-radius: 1.5rem;
}
.check:after {
    content: '';
    color: #f2f2f2;
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    background: #fff;
    border-radius: 1.5rem;
    transition: all .9s;
    border: 2px solid #333;

}
.check:checked:after {
    right: 0;
    border: 2px solid #00a1ff;
    transition: all .9s;
}
.check:checked:before {
    background: #00a1ff;
    transition: all .9s;
}