.languages {
    // outline: 1px solid red;
    display: flex;
    // align-items: center;
    // margin-inline: .5rem;
}
.en {
    margin-inline: .5rem;
    color: #f2f2f2;
}
.es {
    margin-inline: .5rem;
    color: #00a1ff;
}
.check {
    -webkit-appearance: none;
    position: relative;
    width: 3rem;
    outline: none;
    margin-block-end: 1.1rem;
    transition:all .9s;
    
}

.check:before {
    content: '';
    position: absolute;
    width: 3rem;
    height: 1.5rem;
    background-color: #333;
    border-radius: 1.5rem;
}
.check:after {
    content: '';
    color: #f2f2f2;
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    background: #fff;
    border-radius: 1.5rem;
    transition: all .9s;
    border: 2px solid #333;

}
.check:checked:after {
    right: 0;
    border: 2px solid #00a1ff;
    transition: all .9s;
}
.check:checked:before {
    background: #00a1ff;
    transition: all .9s;
}

// prueba botones cambio de idioma
form {
    margin-inline-start: auto;
    margin-inline-end: 2rem;

    .selectBox {
        cursor: pointer;
        position: relative;
        // width: 4rem;
        .select {
            outline: 1px solid rgb(22, 22, 22);
            background-color: #333;
            padding: .5rem 1.5rem;
            border-radius: .3rem;
            display: flex;
            align-items: center;
            color: #f2f2f2;
            transition: .3s ease all;
            
            .contenido-select {
                
                .titulo {
                    font-size: .75rem;
                    font-weight: 300;
                }
            }
            .arrow {
                margin-inline-start: 1rem;
            }
        }
        .idiomas {
            position: absolute;
            width: 100%;
            top: 120%;
            outline: 1px solid rgb(22, 22, 22);
            background-color: #333;
            overflow: hidden;
            border-radius: .3rem;
            display: flex;
            align-items: center;
            color: #f2f2f2;
            transition: .3s ease all;
            display: none;
            .option {
                overflow: auto;
                
                justify-content: center;
                width: 100%;
                height: 100%;
                color: #f2f2f2;

                .contenido-opcion {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                }
                .titulo {
                    padding: .5rem 0;
                    font-size: .75rem;
                    font-weight: 300;
                }
            }
        }
        .contenido-opcion:hover {
            background-color: $blue;
        }
        .idiomas.active {
            display: block;
        }
    }
    .selectBox:hover .idiomas, 
    .selectBox:focus .idiomas {
        display: block;
    }
}



// .lang-1 {
//     margin-inline-start: auto;
//     margin-inline-end: 2rem;
//     .lang {
//         display: flex;
//         align-items: center;
//         color: #f2f2f2;
//         .flag {
//             padding-inline: .5rem;
//             .flagLang--en {
//                 display:none;
//             }
//         }
//         .langSelect {
//             display: inline-flex;
//             width: 7rem;
//             position: relative;
//             transition: all .3s ease-in-out;
//             cursor: pointer;
//             padding: .5rem 1.5rem;
//             background-color: #333;

            
//             .langSelected__wrapper {

//                 .dropDown-lang {
//                     position: absolute;
//                     top: 100%;
//                     left: 0;
//                     display:none;

                    
//                 }
                
//             }
//         }
//     }
// }

// .lang-2 {
//     margin-inline-start: auto;
//     margin-inline-end: 2rem;
    
//     .langSelector {
//         display: flex;
//         .lang {
//             color: #f2f2f2;
//             margin-inline: .5rem;
//             &:hover {
//                 color: #f2f2f296;
//             }
//         }
//         .lang.active {
//             color: $blue;
//             font-weight: 700;
//         }
//     }
// }
// .lang-3 {
//     margin-inline-start: auto;
//     margin-inline-end: 2rem;
    
//     .langSelector {

//         display: flex;
//         align-items: center;
//         margin-inline: auto;
//         .lang {
//             display: inline-block;
//             width: 3rem;
//             padding: .75rem;
//             background-color: #333;
//             border-radius: 100%;
//             display: flex;
//             justify-content: center;
//             align-items: center;
//             color: #f2f2f2;
//             margin-inline: .5rem;
//             &:hover {
//                 color: #f2f2f296;
//             }
//         }
//         .lang.active {
//             color: $blue;
//             font-weight: 700;
//         }
//     }
// }

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}