#main-modulos {

    .modulos-intro {
       @include intro-container;
       background-image: linear-gradient(to top, #202020cf, #33a2f279), url(../images/young-concentrated-businesswoman-glasses-striped-shirt-working-with-papers-home.jpg);
       display: grid;
       place-content: center;
    //    margin-block-start: 2rem;

        .modulos-intro__container {
            text-align: center;

            .section-title {
                color: #f2f3f4;
                font-size: 3rem;
                line-height: 1.1;
            }
            .p-large {
                color: $clr-light-gray;
            }

            .btn {
                margin: 1rem 0;
                padding: .5rem 1.5rem;
            }
        }
    }

    @media (min-width: $tablet) {
        .modulos-intro {
            margin-block-start: 2rem;
            min-height: 50vh;
            
            
            .modulos-intro__container {
                width: 70%;
                margin-inline-start: auto;
                margin-inline-end: auto;

                .section-title {
                    font-size: clamp(2rem, 4vw, 5rem);
                    
                }
                .btn {
                    display: none;
                }
            }
        }
    }

    @media (min-width: $laptop) {


        .modulos-intro {
           @include intro-container;
           background-image: linear-gradient(to top, #202020cf, #33a2f279), url(../images/young-concentrated-businesswoman-glasses-striped-shirt-working-with-papers-home.jpg);
            min-height: 50vh;
            margin-block-start: 2rem;
            .modulos-intro__container {
                color: #f2f3f4;
                text-align: center;
                width: 60%;
                margin: auto;

                .section-title {
                    color: #f2f3f4;

                }

                .p-large {
                    font-size: 1.4rem;
                }
            }

            .btn {
                display: none;
            }
        }
    }
}

#main-modulos {
    #clientes {
        padding-top: 5rem;
        padding-bottom: 5rem;

        .info {
            height: min-content;
            .info-container {
                @include container;
                text-align: center;
                .credito-img {
                    padding: 1rem;
                    width: 90%;
                    // margin: 2rem auto;
                }
            }
        }

        .cards {
            @include container;
        }

    }

    @media (min-width: $laptop) {

        // media dasktop
        #clientes {
            padding: 5rem 0;
            @include container;
            display: grid;
            grid-template-columns: 2fr 3fr;
            gap: 3rem;

            .info {
                place-self: center;

                .info-container {
                    width: 90%;
                    text-align: center;

                    .title {
                        // font-size: 4rem;
                    }

                    .p-large {
                        font-size: 1.25rem;
                    }

                    .credito-img {
                        width: 100%;
                        margin: 0;
                        
                    }
                }
            }

            .cards {

                .subtitle {
                    font-size: 1.3rem;
                }
            }
        }
    }
}

#main-modulos {
    .banner {
        text-align: center;
        .section-title {
            width: 70%;
            padding-block-start: 3rem;
            line-height: 1.1;
            color: $clr-light-gray;
            margin-inline-start: auto;
            margin-inline-end: auto;
        }
        .subtitle {
            width: 70%;
            margin-inline-start: auto;
            margin-inline-end: auto;
            padding-block-end: 3rem;
        }
    }
}

#main-modulos {
    #pldft {
        padding-top: 5rem;

        .info {

            .info-container {
                @include container;
                text-align: center;
                .credito-img {
                    padding: 1rem;
                    width: 90%;
                    margin: 2rem auto;
                }
            }
        }

        .cards {
            @include container;
        }
    }

    @media (min-width: $laptop) {


        #pldft {
            padding: 5rem 0;
            @include container;
            display: grid;
            grid-template-rows: 2fr 2fr;
            grid-template-areas:
                "img"
                "info"
            ;
            // gap: 3rem;

            .info {
                grid-row: 1;
                grid-column: 1;
                grid-area: img;
                place-self: center;

                .info-container {
                    width: 100%;
                    

                    .title {
                        font-size: 4rem;
                    }

                    .p-large {
                        font-size: 1.25rem;
                        width: 70%;
                        margin-inline: auto;
                    }

                    .credito-img {
                        width: 40%;
                        margin: auto;
                        padding: 2rem;
                    }
                }
            }

            .cards {
                grid-row: 2;
                grid-column: 1;
                grid-area: info;
                place-self: center;

                .cards-container {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 2rem;

                }

                .title {
                    font-size: 1.3rem;
                }
            }
        }
    }
}


.scroll {
    height: 100vh;
}