#main-regulacion {

    .regulacion-intro {  
        @include intro-container;
        background-image: linear-gradient(to top, #20202042, #33a2f27e), url(../images/quanto-regulacion-intro-mujer-hablando-por-telefono.jpg);
        background-position:50% 30%;
        background-size: cover;

        .regulacion-intro__container {
            text-align: center;

            .section-title {
                color: #f2f3f4;
                font-weight: 600;
                font-size: 3rem;
                line-height: 1.1;
                margin-inline-start: auto;
                margin-inline-end: auto;
                font-size: clamp(2rem, 4vh, 4rem);
            }
            .p-large {
                color: $clr-light-gray;
            }

            .btn {
                margin: 1rem 0;
                padding: .5rem 1.5rem;
            }
        }
    }

    @media (min-width: $tablet) {

        .regulacion-intro {
            width: 95%;
            min-height: 40vh;


            .regulacion-intro__container {
                width: 70%;
                margin-inline: auto;

                .info {
                    .section-title {
                        font-size: clamp(2rem, 4vw, 5rem);
                    }

                    .btn {
                        display: none;
                    }
                }
            }
        }
    }

    @media (min-width: $laptop) {

        .regulacion-intro {
            margin-block-start: 2rem;
            min-height: 50vh;

            .regulacion-intro__container {
                width: 60%;
                margin-inline-start: auto;
                margin-inline-end: auto;
                text-align: center;

                .info {

                    .title {
                        font-size: clamp(2rem, 4vw, 5rem)
                    }

                    .p-large {
                        font-size: 1.4rem;
                    }


                }
            }
        }
    }


}

#main-regulacion {

    #seguridad {

        .info {

            .info-container {
                @include container;
                padding-block-start: 3rem;
                padding-block-end: 5rem;
                margin-inline: auto;
                text-align: center;
                .seguridad-title {
                   

                    .p-large {
                        margin-block-end: 1rem;
                    }
                }

                



            }
        }

        @media (min-width: $tablet) {
            .info {

                .info-container {

                    .seguridad-title {
                        text-align: center;

                    }
                }
            }
        }

        @media (min-width: $laptop) {
            .info {

                .info-container {
                    display: flex;
                    gap: 2rem;

                    .seguridad-title {
                        text-align: center;
                        margin: auto;

                        .p-large {
                            width: 85%;
                            margin-inline: auto;
                        }
                    }
                }
            }
        }
    }

}

#main-regulacion {
    .banner {
        text-align: center;
        .section-title {
            width: 70%;
            padding-block-start: 3rem;
            line-height: 1.1;
            color: $clr-light-gray;
            margin-inline-start: auto;
            margin-inline-end: auto;
        }
        .subtitle {
            width: 70%;
            margin-inline-start: auto;
            margin-inline-end: auto;
            padding-block-end: 3rem;
        }
    }
}

#main-regulacion {

    #cumplimiento {

        .info {

            .info-container {
                @include container;
                padding-block-start: 3rem;
                padding-block-end: 5rem;

                text-align: center;
            }
        }
    }

}