#main-regulacion {

    .regulacion-intro {  
        @include intro-container;
        background-image: linear-gradient(to top, #20202042, #33a2f27e), url(../images/quanto-automatizacion-plataforma.jpg);
        background-position: center;
        background-size: cover;

        .regulacion-intro__container {
            text-align: center;

            .section-title {
                color: #f2f3f4;
                font-weight: 600;
                font-size: 3rem;
                line-height: 1.1;
                margin-inline-start: auto;
                margin-inline-end: auto;
                font-size: clamp(2rem, 4vh, 4rem);
            }
            .p-large {
                color: $clr-light-gray;
            }

            .btn {
                margin: 1rem 0;
                padding: .5rem 1.5rem;
            }
        }
    }

    @media (min-width: $tablet) {

        .regulacion-intro {
            width: 95%;
            min-height: 40vh;


            .regulacion-intro__container {
                width: 70%;

                .info {
                    .title {
                        width: 90%;
                    }

                    .btn {
                        display: none;
                    }
                }
            }
        }
    }

    @media (min-width: $laptop) {

        .regulacion-intro {
            margin-block-start: 2rem;
            min-height: 50vh;

            .regulacion-intro__container {
                width: 60%;
                margin-inline-start: auto;
                margin-inline-end: auto;
                text-align: center;

                .info {

                    .title {
                        font-size: clamp(2rem, 4vw, 5rem)
                    }

                    .p-large {
                        font-size: 1.4rem;
                    }


                }
            }
        }
    }


}

#main-regulacion {

    #seguridad {

        .info {

            .info-container {
                @include container;
                padding-block-start: 3rem;
                padding-block-end: 5rem;

                .seguridad-title {


                    .p-large {
                        margin-block-end: 1rem;
                    }
                }

                .ssl {
                    padding: 2rem 0;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: $blue;
                    color: #f2f2f2;
                    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);

                    .ssl-check {
                        margin-inline-end: 1rem;
                        color: #f2f2f2;
                        font-size: 2.5rem;
                    }


                    .ssl-title {
                        text-transform: uppercase;
                        font-size: 1.8rem;
                        line-height: .6;
                        font-weight: 700;

                        span {
                            font-size: .85rem;
                            font-weight: 300;
                        }
                    }
                }



            }
        }

        @media (min-width: $tablet) {
            .info {

                .info-container {

                    .ssl {}

                    .seguridad-title {

                        text-align: center;

                        .title {}
                    }
                }
            }
        }

        @media (min-width: $laptop) {
            .info {

                .info-container {
                    display: flex;
                    gap: 2rem;

                    .seguridad-title {
                        text-align: start;
                        margin: auto;

                        .p-large {
                            width: 85%;
                        }
                    }


                    .ssl {}
                }
            }
        }
    }

}

#main-regulacion {
    .banner {
        text-align: center;
        .section-title {
            width: 70%;
            padding-block-start: 3rem;
            line-height: 1.1;
            color: $clr-light-gray;
            margin-inline-start: auto;
            margin-inline-end: auto;
        }
        .subtitle {
            width: 70%;
            margin-inline-start: auto;
            margin-inline-end: auto;
            padding-block-end: 3rem;
        }
    }
}

#main-regulacion {

    #cumplimiento {

        .info {

            .info-container {
                @include container;
                padding-block-start: 3rem;
                padding-block-end: 5rem;
            }
        }
    }

}